.flex-container {
  display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  /* background: peachpuff; */
  border: 4px solid brown;
  padding: 100px;
  height: 100px;
  flex: 2;
}