/*-------------Dont do any code. Just doing CSS Notes here -------------*/
/* Topics-> Selector, 
         -> Combinator, 
         -> properties(color, bg color, typography, text-align, image height & weight), 
         -> External, Internal/Embedded, Inline(NOT RECOMMENDED) CSS,  
         -> Cascade [Rule ordering]
         -> Box Model(padding, border, margin) 
         */



/*----------------------------------------------------- Universal Selector ---------------------------------------------------------*/
* {
    color: Red;
}



/*--------------------------------------------------------- Type Selector ---------------------------------------------------------*/
/* HTML Code */
/* <!-- index.html --> */
<div>Hello, World!</div>
<div>Hello again!</div>
<p>Hi... </p>
<div>Okay, bye.</div>

/* styles.css */
div {               /* Don't use .div */
    color: white;  /* Here, only div tag of HTML will be highlighted.
                      But <p> tag won't be selected. */
}



/*--------------------------------------------------------- Class Selector ---------------------------------------------------------*/
/* <!-- index.html --> */
 <div class="alert-text">Please agree to our terms of service.</div>
                                                  /* This 'alert-text' can't have spaces.
                                                  Cz, both div class & div id can't have spaces. */

/* styles.css */
.alert-text {
    color: red; /* class selector won't work if it class name starts with number.
                   Ex- '4alert-text'. Though you can give class name starting with number in html,
                   but that class name won't work in css class selector. */
}



/*---------------------------- Combination of Type & Class Selector ----------------------------*/
/* HTML */
<div class="card">
    <h2 class="title">Welcome</h2>
    <p class="description">This is a paragraph</p>
    <p class="highlight">This is highlighted text</p>
    <button class="primary">Click me</button>
</div>

/* CSS */
p.highlight {  /* Don't use .p as it's Type Selector, but use .hightlight as Class Selector*/
    background-color: yellow;
    font-weight: bold;
}

button.primary {
    background-color: blue;
    color: white;
}

h2.title {
    color: navy;
    border-bottom: 2px solid gray;
}



/*--------------------------------------------------------- ID Selector -------------------------------------------------------------*/
/* <!-- index.html --> */
<div id="title">My Awesome 90's Page</div>

/* styles.css */
#title {
    background-color: red; /* Like Class selector, it won't work if div id starts with number.
                              Also in HTML, the div id name can't have any space.
                              Space means another class to HTML & CSS. */
}



/*--------------------------------------------------------- Grouping Selector ------------------------------------------------------*/
/************* when different elements share the same style. *************/
/* Wrong one */
.read {
  color: white;
  background-color: black;
  /* several unique declarations */
}

.unread {
  color: white;
  background-color: black;
  /* several unique declarations */
}

/* Corrected one (If both doesn't have any other unique 
declaration except color & background-color) */
/* Here, any element that has the class "read" or 
the class "unread" (at least one) will be colored. */
.read,
.unread {
  color: white;
  background-color: black;
}

/* Corrected one (If both have some other unique declarations) */
.read,
.unread {
  color: white;
  background-color: black;
}

/* unique styles for .read only */
.read {
  font-style: italic;
}

/* unique styles for .unread only */
.unread {
  font-weight: bold;
}



/*------------------------------ Chaining Selector ----------------------------------*/
/******** when one element has multiple conditions (like multiple classes). *********/
/* Type-01: */
/* HTML */
<div>
    <div class="subsection header">Latest Posts</div>                                   /* It has 'subsection' & 'header' class. */
    <p class="subsection preview">This is where a preview for a post might go.</p>      /* It has 'subsection' & preview' class. */
</div>
        /* Here, the class names are- subsection, header, preview.
        Both div & p share same class which is- subsection. */

/* CSS */
.subsection.header {
  color: red;
}
        /* Here, this ".subsection.header" means that, any element that has
        both the subsection and header classes in <div>.
        Thus, it won't effect the subsection and preview class as in <p>,
        the header class is not there. */


/* Type-02: */
/* HTML */
<div>
  <div class="subsection header">Latest Posts</div>
  <p class="subsection" id="preview">This is where a preview for a post might go.</p>
</div>

/* CSS */
.subsection.header {
  color: red;
}

.subsection#preview {       /* # is used when class type and id type is combining. */
  color: blue;
}
/* Chain Selector can also be used to chain a class and an ID. */



/* ----------------------------------------- Descendant Combinator ----------------------------------------- */
/* Type-01 */
/* <!-- index.html --> */
<div class="ancestor">
  <div class="contents">
    <div class="contents"></div>
  </div>
</div>

<div class="contents"></div>

/* styles.css */
.ancestor .contents {           /* Single space between two class names is mandatory. */
  /* some declarations */
}
        /* Here, in the HTML, nested occurs, thus- inside ancestor class's, 
        both the two "contents" class will be selected, 
        but the one contents class which is outside of "ancestor" class won't be selected. */

/* Type-02 */
/* HTML */
<div class="one">
  <div class="two">
    <div class="three">
      <p class="four">Hello</p>
    </div>
  </div>
</div>

/* CSS */
.one .two .three .four {    /* Here, you can just write .four only as there's no standalone "class four" which is outside the nested*/
  color: red;
}
        /* Select an element with the class .four 
        that is inside an element with class .three,
        which is inside an element with class .two,
        which is inside an element with class .one.
        That <p> will turn red. But if .four isn't 
        nested in that exact order, then it won't match. 
        But it's recommended to avoid this type of too much nesting. */



/* Type-03 */
/* HTML */
<div class="one">
  <div class="two">
    <div class="three">
      <p class="four">Hello</p>
    </div>
  </div>
</div>
<div class="four">Hello></div>   /* Just added a standalone "four class outside of nested"*/

/* CSS */
.one .two .three .four {
  color: red;
}
        /* Select an element with the class .four 
        that is inside an element with class .three,
        which is inside an element with class .two,
        which is inside an element with class .one.
        That <p> will turn red. But the standalone "four class" won't be selected.
        But it's recommended to avoid this type of too much nesting. */



/*------------- Descendant Combinator + Type & Class Selector's Combination -------------*/
/* HTML */
<div class="container">
  <p class="text">This should be styled.</p>
</div>
<p class="text">This should be unstyled.</p>

/* CSS */
div .text {
    color: red;     /* the second class "This should be unstyled" won't be colored. */
}

/* CSS with more specific */
div p.text {   /* Targets only p elements with class "text" inside div */
    color: red;
}

/* CSS with far more specific */
div.container p.text {      /* styles here will only apply to p elements with class "text" 
                            that are inside div elements with class "container" */
    color: red;
}

/* CSS(NOT RECOMMENDED) */
div.container .text {       /* styles here will only apply with class "text" 
                            that are inside div elements with class "container" */
    color: red;
}





/* ----------------------------------------- Color & BG color Property ----------------------------------------- */
/* Link of all possible legal color values: https://www.w3schools.com/cssref/css_colors_legal.asp */
p {
  /* hex example: */
  color: #1100ff;
}

p {
  /* rgb example: */
  color: rgb(100, 0, 127);
}

p {
  /* hsl example: */
  color: hsl(15, 82%, 56%);
}



/* ----------------------------------------- Image Height & Weight Property ----------------------------------------- */
img {
  height: auto;
  width: 500px; /* there should be any space between 500 and px */
}


/* Adding CSS to HTML */
/* styles.css */

div {
  color: white; /* Here, color is Property and white is value. */
  background-color: black;
}

p {
  color: red;
}



/* External, Internal/Embedded, Inline(NOT RECOMMENDED) CSS */
/* External CSS */
/* <!-- index.html --> */
<head>
  <link rel="stylesheet" href="styles.css">
</head>

/* styles.css */
div {
  color: white;
  background-color: black;
}

p {
  color: red;
}

/* Internal CSS */
<head>
  <style>
    div {
      color: white;
      background-color: black;
    }

    p {
      color: red;
    }
  </style>
</head>
<body>
  ...
</body>

/* Inline CSS */
<body>
  <div style="color: white; background-color: black;">...</div>
</body>





/*---------------------------- Cascade / Specificity --------------------------*/
/*********************** Ex01 ***********************/
/* <!-- HTML --> */ */

<div class="main">
  <div class="list subsection">Red text</div>
</div>

/* CSS */
/* rule 1 */
.subsection {
  color: blue;
}

/* rule 2 [This one precedence] */
.main .list {
  color: red;
}


/*********************** Ex02 ***********************/
/* HTML */
<div class="main">
  <div class="list" id="subsection">Blue text</div>
</div>

/* CSS */
/* rule 1 [This one precedence]*/
#subsection {
  color: blue;
}

/* rule 2 */
.main .list {
  color: red;
}


/*********************** Ex03 ***********************/
/* HTML */
<div class="main">
  <div class="list" id="subsection">Red text on yellow background</div>
</div>

/* CSS */
/* rule 1 */
#subsection {
  background-color: yellow;
  color: blue;
}

/* rule 2 [This one precedence]*/
.main #subsection {
 color: red;
}


/*********************** Ex04 ***********************/
/* rule 1 [Draw]*/
.class.second-class {
  font-size: 12px;
}

/* rule 2 [Draw]*/
.class .second-class {
  font-size: 24px;
}


/*********************** Ex05 ***********************/
/* rule 1 [Draw]*/
.class.second-class {
  font-size: 12px;
}

/* rule 2 [Draw]*/
.class > .second-class {
  font-size: 24px;
}


/*********************** Ex06 ***********************/
/* rule 1 */
* {
  color: black;
}

/* rule 2 [This one precedence]*/
h1 {
  color: orange;
}


/*********************** Ex07 ***********************/
/* HTML */
<div id="parent">
  <div class="child"></div>
</div>

/* CSS [dont know who wins]*/
#parent {
  color: red;
}

.child {
  color: blue;
}


/*********************** Ex08 ***********************/
/* HTML */
<button id="confirm-button" class="warning confirm">Confirm</button>
<button id="cancel-button" class="warning cancel">Cancel</button>

/* CSS */
/* Rule1 */
.confirm {
  color: red;
}

/* Rule2 [This one wins, though it's draw, so last element gets precedence] */
.warning {
  color: yellow;
}


/*********************** Ex09 ***********************/
/* (Inline CSS) > (Internal CSS) > (External CSS)  is the priority/precedence order */





/*********************************** Box Model **************************************/
/* CSS(Everything will be boxed shaped, as everything is web page is box shaped.) */
/* You can manipulate the size of box using padding, border, margin, height, width. */
/* Ex01 */
* {
  outline: 2px solid red;   /* Here, everything will be boxed shaped. */
}


/* Ex02 (After doing the code, right click to 'one' -> inspect -> go to 'computed')*/
/* HTML */
<div class="box-one">One </div>
<div class="box-two">Two </div>

/* CSS */
* {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.box-one {
  background-color: red;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 30px solid blueviolet;
  margin: 60px;
  /* box-sizing: border-box; */   /* 'border-box' is the alternate box model.
                                  Total Width = Width (as set by you).
                                  If you set the element to be 100 pixels wide,
                                  it will be 100 pixels wide, and the padding and border
                                  are contained inside that 100-pixel space. */
}

.box-two {
  background-color: skyblue;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 30px solid blueviolet;
  margin: 60px;
  /* box-sizing: content-box; /*    /* 'content-box' value is the default.
                                    It's the standard box model. 
                                    Total Width = (Width + Padding + Border)
                                    If you order a 100-pixel wide cake box (the content),
                                    the padding (air inside) and the border (cardboard) are
                                    added on top, making the final box size larger than 
                                    100 pixels. */
}



/* Link of images, Links of notes. Avoid the 'nothing'. */
nothing {
  background-image: url("Odin_Project_Box_Models_CSS.png");
  background-image: url("padding_border_margin.png");
  /* border-box vs content-box YT Link:  */
  background-image: url(https://youtu.be/HdZHcFWcAd8?si=EW15hi0yF7ZOM0gC&t=150);
  /* Some type of examples in this link: */
  background-image: url(https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Box_model#block_and_inline_boxes);
}



/* Ex02 */
/* HTML */
<p>I am a paragraph. A short one.</p>
<ul>
  <li>Item One</li>
  <li>Item Two</li>
  <li>Item Three</li>
</ul>
<p>
  I am another paragraph. Some of the <span class="block">words</span> have been
  wrapped in a <span>span element</span>.
</p>

/* CSS */
body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;    /* This will color the 3 <li> as one border */
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;             /* This will color the 3 <li> as 3 borders. */
  padding: 0.2em;
}

ul {
  display: flex;              /* flex makes the <ul> as paragraph type in one line. */
  list-style: none;
}

.block {
  display: block;   /* By commenting or uncommenting it, you will see the difference. */
}



/* Ex03 */
/* HTML */
<p>
  I am a paragraph. Some of the
  <span>words</span> have been wrapped in a <span>span element</span>.
</p>
<ul>
  <li>Item One</li>
  <li>Item Two</li>
  <li>Item Three</li>
</ul>
<p class="inline">I am a paragraph. A short one.</p>
<p class="inline">I am another paragraph. Also a short one.</p>

/* CSS */
body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
}

span,
li {
  border: 2px solid blue;
}

ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}



/* Ex04 */
/* HTML */
<div class="container">
  <div class="box">Change my margin.</div>
</div>

/* CSS */
.container {
  border: 5px solid blue;
  margin: 40px;
}

.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  height: 100px;
  /* try changing the margin properties to see then changes. */
  margin-top: -40px;  /* By changing this, the writing part goes top than the blue border. */
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 4em;
}



/* Ex05 */
nothing {
  /* Some type of examples in this link: */
  background-image: url(https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Box_model#block_and_inline_boxes);
}





/*--------------- Padding, Border, Margin All Types--------------- */
/* Padding Type */
/* 
      padding-top
      padding-right
      padding-bottom
      padding-left
*/



/* Border Type */
/* 
To set the properties of each side individually, use:

      border-top
      border-right
      border-bottom
      border-left

To set the width, style, or color of all sides, use:

      border-width
      border-style
      border-color

To set the width, style, or color of a single side,
use one of the more granular longhand properties:

      border-top-width
      border-top-style
      border-top-color
      border-right-width
      border-right-style
      border-right-color
      border-bottom-width
      border-bottom-style
      border-bottom-color
      border-left-width
      border-left-style
      border-left-color
*/



/* Margin Types */
/*
      margin-top
      margin-right
      margin-bottom
      margin-left 
*/



/* Ques Ans */
/*
Would you use margin or padding to create more space between 2 elements?
Ans: You would use margin. Margin is the space outside an element's border,
separating it from adjacent elements.

Would you use margin or padding to create more space between the contents 
of an element and its border?
Ans: You would use padding. Padding is the space inside an element's border,
separating the content from the edge.

Would you use margin or padding if you wanted two elements to overlap each other?
Ans: You would use margin, specifically negative margin (e.g., margin-top: -10px;).
Negative margin allows an element to pull itself into the space of an adjacent element,
causing an overlap.

How do you set the alternative box model for all of your elements?
Ans:
CSS Code:

*,
*::before,
*::after {
  box-sizing: border-box;
}


*/




























/* Extra Learning(From YT Reels, Link- https://youtube.com/shorts/IZmtyESp89A?si=o6pr1RDLLFX71tsO) */
/***************** The cursor changes to a pointing hand *****************/
/* Type-01 */
/* HTML */
<body>
    <button class="Different-one1 Same-one">Click Me!</button>
    <button class="Different-two2 Same-one">No, Click Me!</button>
</body>

/* CSS */
button:hover {
    cursor: pointer;
    transition: all 0.1s;
    transform: translate(-3px);
    box-shadow: 0px 3px 6px rgba(250, 242, 242, alpha);
}

/* Type-02 ; Haven't implemented yet.*/
/* HTML */
<button>
    <div>Button Text</div>
    <div class="icon">
        <!-- You can put an icon here, for example: -->
        <i class="fas fa-arrow-right"></i>
        <!-- or an image:
        <img src="path-to-your-icon.png" alt="icon">
        -->
    </div>
</button>

/* CSS */
.icon {
  position:absolute;
  transition: all 0.2s;
  transform: translate(70px);
}

button:hover {
  cursor: pointer;
  background: linear-gradient(34deg, #1100ff, #111);
  transition: all 0.2s;
}

button:hover > div {
  transform: translateX(-20px);
  cursor: pointer;
}

button:hover > .icon {
  opacity: 1;
  transform: translate(30px);
}





